<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Recycler</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1><a href="{% url 'home' %}">EcoLogic</a></h1>
        <header>
            <h1>Quiz de reciclaje</h1>
            <a href= {% url 'leaderboard' %}>Rankings</a>
        </header>

        <main>
            <a href="{% url 'start_quiz'%}">Iniciar Quiz</a>

            <section>
                <div>
                    <h2>Como Jugar</h2>
                    <p>Recycler es un juego estilo Kahoot! de opción múltiple, donde tu misión es elegir el contenedor correcto para cada tipo de basura. En cada pregunta verás una imagen al centro de la pantalla, y tendrás que tocar el botón del contenedor al que pertenece. Cada contenedor tiene un color y un nombre, igual que en la vida real, para que puedas aprender a reconocerlos y reciclar correctamente. ¡Mientras más aciertes, más puntos ganas!</p>
                </div>

                <div>
                    <h2>Aprende mas sobre reciclaje</h2>
                    <p>Reciclar es una forma sencilla de ayudar al planeta. Cuando separamos los materiales como el vidrio, el plástico, el papel y el metal, estos pueden convertirse en nuevos productos en lugar de terminar en la basura. Así usamos menos recursos naturales, reducimos la contaminación y cuidamos el medio ambiente. ¡Cada pequeño gesto cuenta, y tú puedes ser parte del cambio!</p>
                </div>
            </section>
        </main>

    </body>
</html>