<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Sobre nosotros</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1><a href="{% url 'home' %}">EcoLogic</a></h1>
        <h1>Sobre nosotros</h1>
        <p>Somos un equipo de estudiantes de Ingeniería Civil Informática de la Universidad Técnica Federico Santa María (UTFSM), comprometidos con el desarrollo de soluciones tecnológicas que generen un impacto positivo en la sociedad. Este proyecto surge como una iniciativa académica orientada a promover la educación ambiental mediante herramientas digitales interactivas y accesibles para todo público, especialmente para niños y jóvenes.</p>
        <h1>Vision</h1>    
        <p>Nuestra motivación principal es contribuir a la formación de hábitos responsables relacionados con el reciclaje, mostrando no solo su relevancia para el cuidado del medio ambiente, sino también lo sencillo que puede ser incorporarlo en la vida cotidiana. Creemos firmemente que experiencias educativas tempranas, reforzadas a través de plataformas lúdicas, pueden despertar el interés y la curiosidad de las nuevas generaciones, incentivándolas a profundizar en temas medioambientales y a convertirse en agentes de cambio dentro de sus comunidades.</p>
        <h1>Mision</h1>
        <p>Con este proyecto buscamos no solo informar, sino también inspirar, fomentando una cultura de responsabilidad ecológica mediante el uso de tecnologías que acompañen los procesos de aprendizaje de forma dinámica, didáctica y significativa.</p>
    </body>
</html>